.FooterDiv {
  position: fixed;
  height: 50px;
  bottom: 0px;
  background: #343a40 !important;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

.nav-link-footer {
  font-family: "Nunito", sans-serif;
}

.nav-link-footer:hover {
  text-decoration: underline;
}
