.FooterDiv{
    background-color: transparent;
    margin-top: 10px;

    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;

}

.nav-link-footer{
    color: honeydew;
}

.nav-link-footer:hover{
    color:  #dddcdc96;
    text-decoration: underline;
}
