body{
    background-color: black !important;
}

#myVideo {
    position: relative;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

#myWallpaper {
    position: relative; right: 0; bottom: 0; top: -200px;
    min-width: 100%; min-height: 100%;
    z-index: -100; height: auto;
    background-size: cover;
}
  
.pianoHeaderText{
  font-size: 2.875rem;
  font-family: Helvetica,Arial,sans-serif;
  color: azure;
}

.pianoHeaderTextWallpaper{
  font-size: 2.575rem;
  font-family: Helvetica,Arial,sans-serif;
  color: azure;
}

.pianoHeaderParagraph{
  font-weight: 300 !important;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 1.7rem;
  color: rgb(119, 119, 119);
}

.videoContainer{
    height: 780px;
}


.downloadContainer{
  padding-top: 40px;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-right: 50px;
  
}

.downloadContainerWallpaper{
  padding-top: 0px;
  margin: 0;
  position: absolute;
  top: 45%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-right: 200px;
  margin-left: 200px;
}

.downloadBtn{
  width: 250px;
  height: 50px;
  font-family: Helvetica,Arial,sans-serif;
  text-align: center;
  display: inline-block;
  margin: 30px 10px;
}


.buttonWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}