.pianoHeaderText {
  font-family: "Nunito", sans-serif;
}

.pianoHeaderTextWallpaper {
  font-family: "Nunito", sans-serif;
}

.downloadBtn {
  width: 250px;
  height: 50px;
  font-family: "Nunito", sans-serif;
  text-align: center;
  display: inline-block;
  margin: 30px 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.vid {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
