body{
    background-color: whitesmoke !important;
}

#myVideo {
    position: static;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
.pianoHeaderText{
  font-size: 2.875rem;
  font-family: Helvetica,Arial,sans-serif;
}

.pianoHeaderParagraph{
  font-weight: 300 !important;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 1.7rem;
  
}

  .videoContainer{
      padding-top: 100px;
      
  }

  .downloadContainer{
    padding-top: 100px;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-right: 50px;
    
  }

  .downloadBtn{
    width: 250px;
    height: 50px;
    font-family: Helvetica,Arial,sans-serif;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
  }

  .buttonWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
  }